.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(165, 221, 235);
}
.body {
  display: flex;
  background-image: url('https://i.postimg.cc/023Myt1p/Screen-Shot-2022-01-11-at-1-30-58-PM.png');
  background-position: center;
  margin-top: -10px;
  height: 95vh;
  width: 97vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
